<div class="container">
  <div class="page-header">
    <h1 class="text-center">New Journal Entry</h1>
  </div>

  <%= render partial: "form", locals: { name_of_button: "Create New Journal Entry"} %>

</div>
