
<section class="landing-section-blue">
  <div class="container">
    <div class="landing-hero">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1>Clarity</h1>
          <p class="lead">a journaling app that helps you figure out what you're feeling and what you need</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="landing-section-green">
  <div class="container">
    <div class="landing-1">
      <div class="row">
        <div class="col-lg-12 text-center">
          <p class="lead">It uses a communication technology known as <span>Non-Violent Communication</span>,</p>
          <p class="lead">as well as traditional journaling, to help sort yourself out.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="landing-section-pink">
  <div class="container">
    <div class="landing-2">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1>Try it out today!</h1>
          <div class="btn btn-default btn-sign-up">
            <%= link_to "Sign Up" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <!-- /.container -->
